{% extends "menu.html" %}


{% block account %}
    {% if current_user.is_authenticated %}
        Bonjour {{ current_user.username }}!
    {% else %}
        Veuillez vous connecter!
    {% endif %}
{% endblock %}



{% block top %}
    [Train {{ticket.train}}] [{{ticket.couloir}}] [{{ticket.application}}]
{% endblock %}



{% block left %}
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="guichet" )}}> Ticket Guichet</a>
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="MEI"  )}}> InfoSNP de MEI</a>
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="chapeau"  )}}> Ticket Chapeau</a>
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="GIIN"  )}}> Ticket GIIN</a>
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="GIVN"  )}}> Ticket GIVN</a>
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="MEV"  )}}> InfoSNP de MEV</a>
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="GIPN"  )}}> Ticket GIPN</a>
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="MEP"  )}}> InfoSNP de MEP</a>
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir, type="MàN"  )}}> Ticket MàN</a>

{% endblock %}



{% block content %}
    output["age"]
{% endblock %}

{% block right %}
    output["prenom"]
{% endblock %}



