{% extends "menu.html" %}


{% block account %}
    {% if current_user.is_authenticated %}
        Bonjour {{ current_user.username }}!
    {% else %}
        Veuillez vous connecter!
    {% endif %}
{% endblock %}



{% block top %}
    [Train {{ticket.train}}] [{{ticket.couloir}}] [{{ticket.application}}]
{% endblock %}



{% block left %}
    <a href={{url_for("evolution", username=current_user.username, application=ticket.application, train=ticket.train, couloir=ticket.couloir )}}> Ticket Guichet</a>
{% endblock %}



{% block content %}
    output["age"]
{% endblock %}

{% block right %}
    output["prenom"]
{% endblock %}



